<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.fsd.v6.master</string>
    <key>CFBundleName</key>
    <string>FSD MASTER</string>
    <key>CFBundleShortVersionString</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>17.0</string>

    <key>NSCameraUsageDescription</key>
    <string>需要访问相机以进行实时道路目标检测和前车碰撞预警。</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>需要访问位置信息以计算实时行驶速度和地理航向。</string>

    <key>NSMotionUsageDescription</key>
    <string>需要访问陀螺仪数据以实现 3D 轨迹线的动态姿态补偿。</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
